.map-tile {
  width: var(--cell-size);
  height: var(--cell-size);

  &.map-tile-top-left {
    background: var(--map-tile-top-left-url);
  }
  
  &.map-tile-top {
    background: var(--map-tile-top-url);
  }
  
  &.map-tile-top-right {
    background: var(--map-tile-top-right-url);
  }
  
  &.map-tile-bottom-left {
    background: var(--map-tile-bottom-left-url);
  }
  
  &.map-tile-bottom {
    background: var(--map-tile-bottom-url);
  }
  
  &.map-tile-bottom-right {
    background: var(--map-tile-bottom-right-url);
  }
  
  &.map-tile-left {
    background: var(--map-tile-left-url);
  }
  
  &.map-tile-right {
    background: var(--map-tile-right-url);
  }
  
  &.map-tile-center {
    background: var(--map-tile-center-url);
  }
}